node-red.json
[{"id":"7e29f945.67c648","type":"tab","label":"Conbee to home assistant","disabled":false,"info":""},{"id":"6ca64fdc.07a988","type":"websocket in","z":"7e29f945.67c648","name":"Conbee","server":"","client":"ac856705.f84a4","x":55,"y":421,"wires":[["ad4aa496.7978b8"]]},{"id":"ad4aa496.7978b8","type":"json","z":"7e29f945.67c648","name":"","pretty":false,"x":195,"y":421,"wires":[["1974dfb8.41398","31036f5f.2bc1d8","e1a0cdf7.037ad8"]]},{"id":"1974dfb8.41398","type":"function","z":"7e29f945.67c648","name":"Extract state","func":"if((msg.payload.id === \"1\") || (msg.payload.id == \"4\"))\n{\n    msg.payload = {\n        \"state\" : msg.payload.state.presence,\n        \"id\" : msg.payload.id\n    }\n    return msg;\n}\nelse\n{\n    return false;\n}","outputs":1,"noerr":0,"x":355,"y":421,"wires":[["17ab0043.0f7e68","8b2227a8.d40e88"]]},{"id":"21a5e62b.37047a","type":"http request","z":"7e29f945.67c648","name":"Update HASS","method":"POST","ret":"txt","url":"http://192.168.0.10:8123/api/states/sensor.motion","tls":"","x":1000,"y":385,"wires":[["1d16bff2.6664b8"]]},{"id":"17ab0043.0f7e68","type":"function","z":"7e29f945.67c648","name":"Create HTTP request","func":"if(msg.payload.state == true)\n{\n    payload = \"1\";\n}\nelse\n{\n    payload = \"0\";\n}\n\nmsg.sensor_id = msg.payload.id;\n\nmsg.payload = \"{\\\"state\\\": \\\"\" + payload + \"\\\", \\\"attributes\\\": {\\\"friendly_name\\\": \\\"IKEA Rörelsesensor\\\"}}\";\nmsg.headers = {};\nmsg.headers['x-ha-access'] = 'secret';\nmsg.headers['Content-Type'] = 'application/json';\n\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":421,"wires":[["2627665f.d67e92","81ef87dd.96ac18"]]},{"id":"1d16bff2.6664b8","type":"debug","z":"7e29f945.67c648","name":"","active":true,"console":"false","complete":"false","x":1210,"y":385,"wires":[]},{"id":"8b2227a8.d40e88","type":"debug","z":"7e29f945.67c648","name":"","active":false,"console":"false","complete":"payload","x":555,"y":481,"wires":[]},{"id":"2627665f.d67e92","type":"debug","z":"7e29f945.67c648","name":"","active":false,"console":"false","complete":"true","x":775,"y":481,"wires":[]},{"id":"31036f5f.2bc1d8","type":"debug","z":"7e29f945.67c648","name":"","active":true,"console":"false","complete":"false","x":355,"y":481,"wires":[]},{"id":"81ef87dd.96ac18","type":"switch","z":"7e29f945.67c648","name":"","property":"sensor_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":2,"x":770,"y":421,"wires":[["21a5e62b.37047a"],["7b8c44fc.ec6a4c"]]},{"id":"7b8c44fc.ec6a4c","type":"http request","z":"7e29f945.67c648","name":"Update HASS","method":"POST","ret":"txt","url":"http://192.168.0.10:8123/api/states/sensor.motion_2","tls":"","x":1000,"y":457,"wires":[["9bc6e1dd.51b29"]]},{"id":"9bc6e1dd.51b29","type":"debug","z":"7e29f945.67c648","name":"","active":true,"console":"false","complete":"false","x":1210,"y":457,"wires":[]},{"id":"e1a0cdf7.037ad8","type":"function","z":"7e29f945.67c648","name":"Extract state","func":"if(msg.payload.id === \"2\")\n{\n    msg.payload = msg.payload.state.buttonevent;\n    return msg;\n}\nelse\n{\n    return false;\n}","outputs":1,"noerr":0,"x":345,"y":587,"wires":[["c5b1869a.e701a8","342a91f7.efd4f6"]]},{"id":"c5b1869a.e701a8","type":"debug","z":"7e29f945.67c648","name":"","active":false,"console":"false","complete":"payload","x":389,"y":781,"wires":[]},{"id":"342a91f7.efd4f6","type":"switch","z":"7e29f945.67c648","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"5002","vt":"str"}],"checkall":"true","outputs":5,"x":550,"y":587,"wires":[["30b6553e.b0eb52"],["820a91fb.d877"],["edaf535e.a0402"],["53e80804.8b944"],["dc275cde.f157d"]]},{"id":"30b6553e.b0eb52","type":"api-call-service","z":"7e29f945.67c648","name":"","server":"7e56795f.bc001","service_domain":"script","service":"remote1","data":"","x":770,"y":557,"wires":[]},{"id":"820a91fb.d877","type":"api-call-service","z":"7e29f945.67c648","name":"","server":"7e56795f.bc001","service_domain":"script","service":"remote2","data":"","x":770,"y":617,"wires":[]},{"id":"edaf535e.a0402","type":"api-call-service","z":"7e29f945.67c648","name":"","server":"7e56795f.bc001","service_domain":"script","service":"remote3","data":"","x":770,"y":677,"wires":[]},{"id":"53e80804.8b944","type":"api-call-service","z":"7e29f945.67c648","name":"","server":"7e56795f.bc001","service_domain":"script","service":"remote4","data":"","x":770,"y":740,"wires":[]},{"id":"dc275cde.f157d","type":"api-call-service","z":"7e29f945.67c648","name":"","server":"7e56795f.bc001","service_domain":"script","service":"remote5","data":"","x":770,"y":800,"wires":[]},{"id":"ac856705.f84a4","type":"websocket-client","z":"","path":"ws://localhost:443","wholemsg":"false"},{"id":"7e56795f.bc001","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":"secret"}]
